* {
    font-family: 'Roboto';
}

h1 {
    font-weight: 100;
    color: #FFF;
    font-size: 2.2rem;
    border-bottom: solid 2px #66d891;
}

p {
    color: #FFF;
    font-weight: 300;
    line-height: 1.8rem;
}